<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>692051728297-jt94pktp59vgevabj0k9p1ge54cvmne3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692051728297-jt94pktp59vgevabj0k9p1ge54cvmne3</string>
	<key>API_KEY</key>
	<string>AIzaSyDyi3_JLvq3NmjAxokQKo2cNPBiZs0vQPM</string>
	<key>GCM_SENDER_ID</key>
	<string>692051728297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c4c.jog--v0-4</string>
	<key>PROJECT_ID</key>
	<string>jog-dreamteam</string>
	<key>STORAGE_BUCKET</key>
	<string>jog-dreamteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692051728297:ios:5a86a1c458de4b52</string>
	<key>DATABASE_URL</key>
	<string>https://jog-dreamteam.firebaseio.com</string>
</dict>
</plist>